{% extends "base.html" %}

{% block meta_description %}
Welcome to the NBA 2K25 Player Progression Tracker! You can reset your password here.
{% endblock %}

{% block title %}Reset Password{% endblock %} 

{% block content %}
<main>
    <h1>Reset Password</h1>
    <form action="{{ url_for('reset_password', token=token) }}" method="POST">
        <label for="password">New Password:</label>
        <input type="password" name="password" required>

        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" name="confirm_password" required>
        
        <button type="submit" class="button">Reset Password</button>
    </form>
</main>
{% endblock %}
 